
.slider-enter {
    -webkit-transition-duration: .25s;
     transition-duration: .25s; 
    -webkit-transform: translate3d(100%, 0, 1px);
    transform: translate3d(100%, 0, 0);
}

.slider-enter.slider-enter-active {
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 0);
}

.slider-leave {
     -webkit-transition-duration: .25s;
    transition-duration: .25s;
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 0)
}

.slider-leave.slider-leave-active {
    -webkit-transform: translate3d(100%, 0, 1px);
    transform: translate3d(100%, 0, 0);
}


