.content > .table-view:first-child {
    margin-top: -2px;
}

.hidden {
    opacity: 0;
}

.page1 .content {
    background-color: #103754;
}

.page2 .content {
    padding-top: 100px;
    background-color: #222222;
    text-align: center;
}

.media-object {
    height: 150px;
    width: 150px;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 0);
    text-align: left;
}